/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Poppins font class */
.poppinsFont{
    font-family: "Poppins", serif;;
}

/* Custom Parallax Effect */
.parallax-container {
    perspective: 1000px;
  }
  .parallax-image {
    transform: translateZ(0);
    transition: transform 0.3s ease-in-out;
  }
  .parallax-container:hover .parallax-image {
    transform: translateZ(-20px) scale(1.05); /* Slightly zoomed on hover */
  }
/* Animation */
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes scroll-indicator {
    0% { transform: translateY(-8px); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(8px); opacity: 0; }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite;
  }
  
  .animate-scroll {
    animation: scroll-indicator 2s infinite;
  }

  